<div class="col-md-12 p-3">
 <h3 class="blue p-3 text-white"><strong>{{site.fleet.title}}</strong></h3>
<div class="shadow p-3 p-md-5 bg-white">
<div class="row border-bottom border-primary">
<div class="col-md-4 p-3">
<img class="img-fluid" width="100%" height="100%" alt="{{site.fleet.car1}}" src="{{site.fleet.carimage1}}"/>
</div>
<div class="col-md-8 p-3 p-md-5">
 <h3><strong><a href="/">{{site.fleet.car1}}</a></strong></h3>
 <p>{{site.fleet.cartext1}} </p>
 <p>{{site.fleet.carprice1}} </p>
</div>
</div>

<div class="row border-bottom border-primary">
<div class="col-md-4 p-3">
<img class="img-fluid" width="100%" height="100%" alt="{{site.fleet.car2}}" src="{{site.fleet.carimage2}}"/>
</div>
<div class="col-md-8 p-3 p-md-5">
 <h3><strong><a href="/">{{site.fleet.car2}}</a></strong></h3>
 <p>{{site.fleet.cartext2}} </p>
 <p>{{site.fleet.carprice2}} </p>
</div>
</div>


<div class="row border-bottom border-primary">
<div class="col-md-4 p-3">
<img class="img-fluid" width="100%" height="100%" alt="{{site.fleet.car3}}" src="{{site.fleet.carimage3}}"/>
</div>
<div class="col-md-8 p-3 p-md-5">
 <h3><strong><a href="/">{{site.fleet.car3}}</a></strong></h3>
 <p>{{site.fleet.cartext3}} </p>
 <p>{{site.fleet.carprice3}} </p>
</div>
</div>

<div class="row border-bottom border-primary">
<div class="col-md-4 p-3">
<img class="img-fluid" width="100%" height="100%" alt="{{site.fleet.car4}}" src="{{site.fleet.carimage4}}"/>
</div>
<div class="col-md-8 p-3 p-md-5">
 <h3><strong><a href="/">{{site.fleet.car4}}</a></strong></h3>
 <p>{{site.fleet.cartext4}} </p>
 <p>{{site.fleet.carprice4}} </p>
</div>
</div>

<div class="col-md-12 p-3 text-center">
    <a href="{{site.bookurl}}" class="btn btn-primary blue text-white col-md-4 col-12 btn-lg p-3">{{site.fleet.carbtn}}</a>
</div>

</div>
</div>
